.loading-container {
    position: relative;
}

.loading-container .loading:before, .loading-container .loading:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 50px;
    -moz-min-width: 50px;
    -ms-min-width: 50px;
    -o-min-width: 50px;
    -webkit-min-width: 50px;
    min-width: 50px;
}

.loading-container .loading:before {
    background-color: white;
    -ms-opacity: 0.5;
    opacity: 0.5;
}

.editableElement {
    color: rgb(77, 77, 77);
    cursor: pointer;
    -moz-transition: color 0.5s;
    -o-transition: color 0.5s;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}

.editableElement:hover {
    color: rgb(220, 0, 0);
    
}

#loaderBackground {
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    height: 100%;
    /* Optional - just for DIV)*/
    border: solid 1px #000000;
    background-color: white;
    z-index: 2;
    opacity: 0.54;
}

#loader {
    -moz-animation: animate 1.5s linear infinite;
    -o-animation: animate 1.5s linear infinite;
    -webkit-animation: animate 1.5s linear infinite;
    animation: animate 1.5s linear infinite;
    clip: rect(0, 80px, 80px, 40px);
    height: 80px;
    width: 80px;
    position: absolute;
    left: calc(50% - 40px);
    top: calc(50% - 40px);
    z-index:3;
}

@-moz-keyframes animate  {
    0% {
        -moz-transform: rotate(0deg) -ms-transform: rotate(0deg) -o-transform: rotate(0deg) -webkit-transform: rotate(0deg) transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(220deg) -ms-transform: rotate(220deg) -o-transform: rotate(220deg) -webkit-transform: rotate(220deg) transform: rotate(220deg);
    }
}

@-webkit-keyframes animate {
  0% { 
    transform: rotate(0deg)
  }
  100% { 
    transform: rotate(220deg)
  }
}

@keyframes animate {
  0% { 
    transform: rotate(0deg)
  }
  100% { 
    transform: rotate(220deg)
  }
}

#loader:after {
    -moz-animation: animate2 1.5s ease-in-out infinite;
    -o-animation: animate2 1.5s ease-in-out infinite;
    -webkit-animation: animate2 1.5s ease-in-out infinite;
    animation: animate2 1.5s ease-in-out infinite;
    clip: rect(0, 80px, 80px, 40px);
    content: '';
    border-radius: 50%;
    height: 80px;
    width: 80px;
    position: absolute;
} 
@-moz-keyframes animate2 {
    0% {
        box-shadow: inset #009213 0 0 0 17px;
        -moz-transform: rotate(-140deg);
        -ms-transform: rotate(-140deg);
        -o-transform: rotate(-140deg);
        -webkit-transform: rotate(-140deg);
        transform: rotate(-140deg);
    }
  50% {
    box-shadow: inset #00a916 0 0 0 2px;
  }
    100% {
        box-shadow: inset #009213 0 0 0 17px;
        -moz-transform: rotate(140deg);
        -ms-transform: rotate(140deg);
        -o-transform: rotate(140deg);
        -webkit-transform: rotate(140deg);
        transform: rotate(140deg);
    }
}

@-webkit-keyframes animate2 {
    0% {
        box-shadow: inset #009213 0 0 0 17px;
        -moz-transform: rotate(-140deg);
        -ms-transform: rotate(-140deg);
        -o-transform: rotate(-140deg);
        -webkit-transform: rotate(-140deg);
        transform: rotate(-140deg);
    }
  50% {
    box-shadow: inset #00a916 0 0 0 2px;
  }
    100% {
        box-shadow: inset #009213 0 0 0 17px;
        -moz-transform: rotate(140deg);
        -ms-transform: rotate(140deg);
        -o-transform: rotate(140deg);
        -webkit-transform: rotate(140deg);
        transform: rotate(140deg);
    }
}

@keyframes animate2 {
    0% {
        box-shadow: inset #009213 0 0 0 17px;
        -moz-transform: rotate(-140deg);
        -ms-transform: rotate(-140deg);
        -o-transform: rotate(-140deg);
        -webkit-transform: rotate(-140deg);
        transform: rotate(-140deg);
    }
  50% {
    box-shadow: inset #00a916 0 0 0 2px;
  }
    100% {
        box-shadow: inset #009213 0 0 0 17px;
        -moz-transform: rotate(140deg);
        -ms-transform: rotate(140deg);
        -o-transform: rotate(140deg);
        -webkit-transform: rotate(140deg);
        transform: rotate(140deg);
    }
}