@*@using LicenseGenerator.Models
    @model IEnumerable<GeneratedLicense>*@

@{
    ViewBag.Title = "Historia licencji";
    ViewBag.Module = "History";
}

<div ng-controller="HistoryController">

    <div class="form-group">
        <label for="filter">Filtr</label>
        <div class="input-group">
            <input type="text" class="form-control" id="filter" placeholder="Filtr przeszukuje nip klienta i partnera, nazwę programu oraz nazwę firmy" ng-model="filter"
                   ng-change="filterChanged(filter)" ng-model-options="{ debounce: 300 }">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="filterChanged('')">Wyczyść</button>
            </span>
        </div>
    </div>

    <table class="table table-striped table-hover" ng-table="tableParams">
        <thead>
            <tr>
                <th>Program</th>
                <th>Firma</th>
                <th>NIP</th>
                <th>Uprawnienia</th>
                <th>Licencja do</th>
                <th>Dodatkowe informacje</th>
                <th>Liczba stanowisk</th>
                <th>Wersja programu</th>
                <th>NIP partnera</th>
                <th>Zaszyfrowana</th>
                <th>Data wygenerowania</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="license in licenses">
                <td>{{license.ProgramName}}</td>
                <td>{{license.Company}}</td>
                <td>{{license.NIP}}</td>
                <td>{{license.Privileges}}</td>
                <td>{{license.LicenseTermDate}}</td>
                <td>{{license.AddionalInformation}}</td>
                <td>{{license.NumberOfStands}}</td>
                <td>{{license.ProgramVersion}}</td>
                <td>{{license.PartnerNIP}}</td>
                <td class="text-center">
                    @*@if (license.IsEncrypted)
                        {
                            <span class='glyphicon glyphicon-check'></span>
                        }
                        else
                        {
                            <span class='glyphicon glyphicon-unchecked'></span>
                        }*@
                </td>
                <td>{{license.GenerationDate | date:'medium'}}</td>
            </tr>
            @*</tbody>*@
    </table>
</div>

@section scripts
{
    <script type="text/javascript" src="@Url.Content("/Scripts/insolutions/history.js")"></script>
}